
.topcontainer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.modal-content {
    background-color: white;
    min-height: 5em;
    border-radius: 1em;
    padding: 1em;
}

.path {
    font-family: monospace;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.exp {
    background-color: lightgrey;
    cursor: pointer;
}
ul > li:hover{
    background-color: grey;
    color: black;
}
ul > li:active{
    background-color: lightskyblue;
}

.selected {
    background-color: dodgerblue;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

#editTable {
    display: none;
}
