.menu {
    width: 10vw
}
.topcontainer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}

.stagecard {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
  /*  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background: rgba(200,200,200,0.8);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: rgba(180,180,180,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.4);
}

.scrollable {
    overflow: -moz-scrollbars-vertical;
}

.sourcelist {
    text-align: left;
}
.sourcelist > a {
    color: grey;

    font-size: 0.8em;
}

body {
    position: fixed;
    overflow: -moz-scrollbars-none;
    width: 100vw;
}

.now {
    box-shadow: 0 0 1em 0.25em rgba(0,100,20,0.5);

}


/*noinspection ALL*/
video::-webkit-media-controls-timeline {
    display: none !important;
}

/*noinspection ALL*/
video::-webkit-media-controls-current-time-display{
    display: none !important;
}
/*noinspection ALL*/
video::-webkit-media-controls-play-button{
    display: none !important;
}
/*noinspection ALL*/
video::-webkit-media-controls-volume-control-container{
    display: none !important;
}
/*noinspection ALL*/
video::-internal-media-controls-overflow-button{
    display: none !important;
}
