.stage:not(:last-child):after {
    color: var(--base-bgcolor);
    display: inline-block;
    content: '';
    position: absolute;
    border-left: calc(var(--base-height)/2) solid;
    border-top: calc(var(--base-height)/2) solid transparent;
    border-bottom: calc(var(--base-height)/2) solid transparent;
    right: calc(var(--base-height)/-2);
}
.big:not(:last-child):after {
    border-left: calc(var(--base-height)/2*var(--big-factor)) solid;
    border-top: calc(var(--base-height)/2*var(--big-factor)) solid transparent;
    border-bottom: calc(var(--base-height)/2*var(--big-factor)) solid transparent;
    right: calc(var(--base-height)/-2*var(--big-factor));
}
.big+.stage {
    margin-left:calc((var(--base-height)/2) * (var(--big-factor) - 1));
}
.stage+.big {
    margin-left:calc((var(--base-height)/-2) * (var(--big-factor) - 1));
}
.stage:not(:first-child):before {
    color: var(--document-background);
    display: inline-block;
    content: '';
    position: absolute;
    border-left: calc(var(--base-height)/2) solid;
    border-top: calc(var(--base-height)/2) solid transparent;
    border-bottom: calc(var(--base-height)/2) solid transparent;
    left: 0px;
}
.big:not(:first-child):before {
    border-left: calc(var(--base-height)/2*var(--big-factor)) solid;
    border-top: calc(var(--base-height)/2*var(--big-factor)) solid transparent;
    border-bottom: calc(var(--base-height)/2*var(--big-factor)) solid transparent;
    left: 0px;
}
.stage {
    background-color: var(--base-bgcolor);
    font-size: var(--base-fontsize);
    color: var(--base-color);
    display: flex;
    position: relative;
    justify-content: center;
    height: var(--base-height);
    flex-grow: 1;
}
.stage:hover{
    opacity:80%;
}
.done {
    opacity: 50%;
}
.big {
    opacity: 100%;
    height: calc(var(--base-height)*var(--big-factor));
    flex-grow: 2;
    font-size: calc(var(--base-fontsize)*var(--big-factor));
}
.contain {
    display: flex;
    align-items: center;
}
.stage > div {
    margin-top: auto;
    margin-bottom:auto;
    font-family: sans-serif;
}

:root {
    --base-height: 40px;
    --base-fontsize: 1em;
    --base-bgcolor: #33aa55;
    --base-color: #ffeeee;
    --document-background: #ffffff;
    --big-factor: 1.25;
}
